/* VARIABLES */
/* Mode light */
:root {
    --background-color: #f2f2f2;
    --primary-color: #ff5317;
    --text-color: #333;
}

/* Mode dark */
:root.dark {
    --background-color: #333;
    --primary-color: #ff5317;
    --text-color: #f2f2f2;
}

body {
    font-family: 'Arial', sans-serif;
    background: var(--background-color);
    margin: 0;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    color: var(--text-color);
    margin: 10px 0;
}

.film-card {
    border-radius: 18px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.218);
    overflow: hidden;
    background: var(--background-color);
    text-align: center;
    border: 1px solid var(--primary-color);
}

.film-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.film-card h2 {
    font-size: 1.3rem;
    margin: 10px 0;
}

.film-note {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    color: var(--text-color);
    font-size: 1rem;
}

.film-genre {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1rem;
  margin: 5px 0;
}

.film-resume {
  font-size: 0.9rem;
  padding: 0 20px 15px;
  color:  var(--text-color);
}

.film-image-container {
    position: relative; 
}

.film-image-container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.like-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background: white;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;  
    line-height: 0;   
    padding: 0; 
}

.like-btn:hover {
    transform: scale(1.1); 
}