.film-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.recherche {
    color: var(--primary-color);
    font-size: 1rem;
    background: var(--background-color);
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    padding: 5px 10px;
}

.recherche:focus {
    outline: none;
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.mode {
    border-radius: 8px;
    border: 1px solid var(--primary-color);
}

@media (max-width: 768px) {
    .film-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .film-grid {
        grid-template-columns: 1fr;
    }
}