.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 20px -10px contrast-color(var(--bg))
}

.movie-poster {
  width: 100%;
  flex: 1;
  height: 0;
  object-fit: cover;
  
  img {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    /* height: 60%; */
  }
}

.movie-data {
  display: flex;
  width: 100%;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
  /* height: max-content; */


  .top-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .movie-title {
      font-weight: bold;
      font-size: larger;
    }

    .movie-like {
      display: flex;
      width: 1.5rem;
      aspect-ratio: 1;
      padding: 0;
      border: 0;
      background-color: transparent;
      transition: rotate 0.5s;
      color: var(--text-h);
      rotate: 0;
      
      &[data-liked="true"] {
        color: rgb(195, 85, 85);
        rotate: 1turn;
      }
    }

  }

  

  .movie-infos {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
  }

  .movie-genres {
    opacity: 0.5;
    font-style: italic;
  }

  .movie-desc {
    display: inline-block;
    margin: 0 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: preserve nowrap;
  }
}