:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
}

/* *{
  border : 1px solid red ;
} */

.film{
  border: 1px solid #08060d;
  border-radius: 15px;
  display: grid;
  grid-template-rows: 1fr max-content;
  margin-bottom: 30px;
  justify-self: center;

}

.imagecontainer{
  width: 100%;
  height: 250px;
  border-radius: 15px 15px 0px 0px;
  overflow: hidden;
}

.images{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.filmlist{
  margin: 1em auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

@media (max-width: 600px) {
  .filmlist{
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

h2{
  margin-top: 15px;
}

p{
  color: #6b6375;
  flex-direction:row;
  justify-content:space-between;
  align-items:center
}

h3{
  font-size: 16px;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tags{
  color: #353536;
  background-color: #e7e3e3;
  border-radius: 30px;
  padding: 6px 12px;
  

}

.tags:hover{
  background-color: #08060d;
  color: white;
  cursor: pointer;
}


.active  {
  background-color: #08060d;
  color: #fff;
}

.container {
  position: relative;
  max-width: 1400px;
  padding: 40px 30px;
}

.mode-switch {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 11px;
  cursor: pointer;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: #50bbf1;
  }
}


.dark {
  background-color: #08060d;
  color: rgb(255, 255, 255);
}