.zero-size-parent {
  width: 0;
  height: 0;
}

.movie-like {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 1rem;
  left: 1rem;

  flex: 0;

  width: 3rem;
  aspect-ratio: 1;
  
  border: 0;
  border-radius: 20px;
  background-color: var(--bg);
  

  & > * {
    transition: rotate 0.5s;
    color: var(--text-h);
    rotate: 0;
  }
  
  &[data-liked="true"] > * {
    color: rgb(195, 85, 85);
    rotate: 1turn;
  }
}