#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

#searchbar {
  width: min(100%, 500px);
  height: 2rem;
  border-radius: 20px;
  padding: 0 1rem;
  border: 0;
  box-shadow: 0 0 20px -10px contrast-color(var(--bg))
}

#light-dark-button {
  --offset: 1rem;
  position: absolute;
  top: var(--offset);
  right: var(--offset);
  padding: 0.5rem 1rem;
  border: 1px solid var(--text-h);
  border-radius: 20px;
  background-color: white;
}