.film-display{
    width: 70%;
    padding:2rem 2.5rem;
    height:100%;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:auto;
    column-gap: 3%;
    row-gap:2rem;
}

.film-card{
    width:100%;
    height:25rem;
    display:flex;
    flex-direction: column;
    padding:0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(128, 128, 128, 0.219);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.205);
}

.film-info{
    width:100%;
    height:60%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.span-card{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.film-image{
    width:100%;
    height:40%;
    object-fit: cover;
}

.film-card h1{
    font-size:1.7rem;
    text-align:center;
}

.film-card h2{
    font-size:1.2rem;
    color:grey;
}
