#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

#searchbar {
  width: min(100%, 500px);
  height: 2rem;
  border-radius: 20px;
  padding: 0 1rem;
}