:root {
    --light-mode-page-bg:  rgb(235, 232, 229);
    --dark-mode-page-bg: black;

    --dark-mode-bg:rgb(28, 28, 28);
    --light-mode-bg: rgb(255, 255, 255);

    --light-mode-hover-bg: black;
    --dark-mode-hover-bg: rgb(255, 255, 255);

    --light-mode-text-color: black;
    --dark-mode-text-color: rgb(255, 255, 255);

    --light-mode-hover-text-color:rgb(255, 255, 255);
    --dark-mode-hover-text-color:black;

  }



.movie-picture{
    width: 100%;
    height: 40%;
    border-radius : 20px;
    object-fit: cover;

}

.movie-picture img{
width: 100%;
}



.light .card{
    background-color: var(--light-mode-bg);
    color:var(--light-mode-text-color)
}

.dark .card{
    background-color: var(--dark-mode-bg);
    color:var(--dark-mode-text-color)
}


.card{
    position: relative;
    border-radius: 40px;
    padding: 20px;
    flex: 1;
}

.favorite-icon{
    height: 50px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.card:hover{
transform: scale(1.05);
transition: all 0.5s ease-in-out;

   
}


.light .movie-title{    color:var(--light-mode-text-color)}
.dark .movie-title{    color:var(--darkt-mode-text-color)}

.movie-title{

    font-size: clamp(20px, 2.5vw, 30px);
    text-transform: uppercase;
}
.movie-genres{
    margin: 20px 0px;
    font-weight: bold;
}

.movie-date-rate-container{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0 20px;
    
}
.movie-rate{
    display: inline;
}
.movie-synopsis{
    font-size: clamp(14px, 1.5vw, 18px);
}

