.nav {
  width: 100%;
  padding: 2rem 0 0 0;
  height: fit-content;
  display: flex;
  justify-content: center;
  position: relative;
}

.header-select {
  width: 60%;
  height: 5rem;
  margin: 2% auto auto none;
  display: flex;
  justify-content: center;
  gap: 15%;
  padding: 2rem 0 0 0;
}

.header-link {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.692);
  font-weight: 700;
  background: none;
  border: none;
  width: fit-content;
  padding: 0 0.5rem 0 0.5rem;
  transition: all ease-in 0.3s;
  transform-origin: center;
}

.header-link:hover {
  font-size: 1.8rem;
}

.active {
  font-size: 1.8rem;
  color: rgb(255, 255, 255);
  border-bottom: 2px solid white;
}

.theme-select-btn {
  background: rgba(255, 255, 255, 0.23);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: rgba(48, 48, 48, 0.404);
  font-weight: 600;
}

.input-bar {
  width: 30rem;
  height: 45px;
  margin-right: 1em;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.23);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.input-bar::placeholder {
  color: rgba(48, 48, 48, 0.404);
  padding: 0 0.5rem 00;
  font-weight: 600;
}

section {
  width: 80%;
  height: 100%;
  display: grid;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(fit-content, 40rem);
  gap: 5%;
}

.poster-container {
  width: 100%;
  height: fit-content;
  max-height:40rem;
  border-radius: 15%;
}
.svg-mask {
  position: absolute;
  top: 999px;
  left: 999px;
  width: 0;
  height: 0;
}

figure {
  transition: all ease-in 0.3s;
  border-radius: 5%;
  padding: 13%;
  transform-origin: center;
}

figure:hover {
  padding: 9%;
}

img {
  aspect-ratio: 1/1;
  transition: all ease-in 0.3s;
  align-content: end;
  width: 100%;
  height: auto;
  object-fit: cover;
  transform-origin: center;
}

.group:hover img {
  transform: scale(1.1);
}

.heart-btn {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  background: transparent;
  border: none;
  position: relative;
  left: 75%;
  top: -10%;
  transition: transform 0.2s ease-in;
}

.heart-btn:hover {
  transform: scale(1.05);
}

@media (max-width: 1000px) {
  section {
    width: 90%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 5%;
  }

  .poster-container {
    width: 25rem;
    height: auto;
    border-radius: 15%;
  }
}

/*  */
