@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --sans: "Google Sans", system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  --max-width-grid: min(calc(100% - 1rem), 1500px);

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-h: white;
    --bg: #2f2f2f;
  }
}


body {
  margin: 2rem 1rem;
  scrollbar-gutter: stable;
  color: var(--text-h);
  background-color: var(--bg);
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}


.app {
  min-height: 100vh;
  transition:all 0.2s ease-out;

}

