:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
}


body {
  margin: 0;
  background-color: var(--bg);
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}


.app {
  min-height: 100vh;
  transition:all 0.2s ease-out;

}

.dark-mode {
  background-color: #121212;
  color: white;
  min-height: 100vh;
  width: 100%;
}

.dark-mode input {
  background-color: #2a2a2a;
  color: white;
}

.dark-mode button {
  background-color: #2a2a2a;
  color: white;
}

.dark-mode .movie-card {
  background-color: #2a2a2a;
  color: white;
}

.theme-button {
  position: fixed;
  top: 20px;
  right: 20px;

  border: none;
  border-radius: 999px;
  padding: 10px 16px;

  cursor: pointer;

  background: #222;
  border: solid 1px rgb(255, 255, 255);

  font-size: 14px;
  font-weight: 600;

  transition: all 0.2s ease;
  z-index: 1000;
}

.theme-button:hover {
  transform: translateY(-2px);
  background: #333;
}