.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.movie-card {
  width: 320px;
  border-radius: 20px;
  overflow: hidden;
  background: rgb(239, 239, 239);
}

.movie-content {
  padding: 20px;
}

.movie-content h2 {
  text-align: center;
}

.movie-info {
  display: flex;
  justify-content: space-between;
}

.genre {
  font-weight: bold;
  text-align: center;
}

.plot {
  text-align: center;
}